#logonav {
  position: absolute;
  left: 100px;
  height: 5%;
}
.jumbotron1 {
  background-image: url("../img/bg.jpeg");
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  height: 100vh;
}

.jumbosecondary {
  margin: 5%;
}
.margen {
  margin: 10px;
  margin-bottom: 20px;
}
.nav-item a {
  color: white;
}

#jumbocontent {
  position: relative;
  top: 70px;
  text-align: center;
}
.centro {
  text-align: center;
}
footer {
  background: black;
  color: white;
}
